<div id="<%= dom_id(@post) %>">
  <p style="color: green"><%= notice %></p>

  <!-- Assuming @post is the instance variable for the current post -->
  <div class="card" style="width: 28rem; margin: auto;">
    <div class="card-body">
      <h2 class="card-title card-header" style="text-align: center;"><%= @post.title %></h2>
      <br>
      <h5 class="card-subtitle mb-2 text-body-secondary" style="text-align: center;"><%= @post.topic %></h5>
      <br>
      <p class="card-text" style="text-align: center;"><%= @post.body %></p>
      <%= link_to 'Back To Posts', posts_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
